.table-box {
  width: 90%;
  height: 500px;
  // border: 1px solid rgb(27, 26, 26);
  background-color: rgba(51, 15, 15, 0.039);
  margin: 0 auto;
  margin-top: 60px;

  table {
    width: 100%;

    thead {
      height: 30px;
      font-weight: 900;
      background-color: #fff;
      .t-number {
        width: 10%;
      }

      .t-title,
      .t-writer {
        width: 30%;
      }

      .t-create {
        width: 20%;
      }
      th {
        border: 1px solid rgba(0, 0, 0, 0.256);
        vertical-align: middle;
        box-sizing: border-box;
      }
    }
    tbody {
      width: 100%;
      tr {
        height: 30px;
        text-align: center;
        background-color: #fff;
        cursor: pointer;
        &:hover {
          background-color: rgba(51, 15, 15, 0.039);
        }
        .data-number {
          width: 10%;
          vertical-align: middle;
        }

        .data-title,
        .data-writer {
          width: 30%;
        }

        .date-create {
          width: 20%;
        }
        td {
          border: 1px solid rgba(0, 0, 0, 0.256);
          // border-bottom: none;
          vertical-align: middle;
          box-sizing: border-box;
        }
      }
    }
  }
}
