.home {
  position: relative;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;

  .my-info {
    position: absolute;
    left: 0;
    z-index: 9;
    width: 0;
    height: 100vh;
    background-color: #fff;
    border-right: 1px solid #000;
    box-sizing: border-box;
    overflow: hidden;
    ul {
      width: 400px;
      margin-top: 50px;
      li {
        padding: 20px;
        cursor: pointer;
        &:hover {
          background-color: rgba(0, 0, 0, 0.171);
        }
      }
    }
    .logo {
      margin-top: 20px;
      padding: 20px;

      width: 160px;
      font-size: 40px;
      font-weight: 900;
    }
    .title {
      margin-top: 50px;
      width: 300px;
      padding-left: 20px;
    }
    .logout {
    }
  }

  .inner {
    width: 95%;
    height: 600px;
    background-color: #fff;
    border-radius: 20px;

    .menu {
      position: absolute;
      cursor: pointer;
      top: 20px;
      right: 20px;
      .material-symbols-outlined {
        font-size: 35px;
        font-weight: 900;
      }
    }

    // .table-box {
    //   width: 90%;
    //   height: 300px;
    //   // border: 1px solid rgb(27, 26, 26);
    //   background-color: rgba(51, 15, 15, 0.039);
    //   margin: 0 auto;
    //   margin-top: 100px;

    //   table {
    //     width: 100%;

    //     thead {
    //       height: 30px;
    //       font-weight: 900;
    //       background-color: #fff;
    //       .t-number {
    //         width: 10%;
    //       }

    //       .t-title {
    //         width: 30%;
    //       }

    //       .t-writer {
    //         width: 30%;
    //       }

    //       .t-date-create {
    //         width: 20%;
    //       }
    //       th {
    //         align-items: center;
    //         border: 1px solid rgba(0, 0, 0, 0.256);
    //         vertical-align: middle;
    //         box-sizing: border-box;
    //       }
    //     }
    //   }

    // }
    button {
      width: 500px;
      height: 30px;
      border-radius: 20px;
      margin: 0 auto;
      margin-top: 60px;
    }
  }
}
